# TOX21 Multi-Label Toxicity Prediction

# Streamlit (OBLIGATOIRE — sinon "streamlit: command not found")
streamlit==1.58.0

# Core ML
numpy>=1.24.0,<2.0.0
pandas>=2.0.0
scikit-learn==1.8.0
xgboost>=2.0.0
imbalanced-learn>=0.11.0
shap>=0.43.0

# Chemistry
rdkit
py3Dmol

# Visualization
matplotlib>=3.7.0
seaborn>=0.13.0
pillow>=10.0.0

# Utilities
scipy>=1.11.0
joblib>=1.3.0
